:root{
    --matcha: #92a378;
    --dark-matcha:#728d49;
    --creme: #d2cdb9;
    --white-creme: #f5f3ec;
}

body{

    font-family: 'VT323', monospace;
    background-color: var(--matcha);

}
.center-text {

  display: flex;
  flex-direction: column;     /* เรียงจากบนลงล่าง */
  align-items: center;        /* จัดแนวนอนให้ลูกอยู่ตรงกลาง */
  justify-content: center;    /* จัดแนวตั้งให้ลูกอยู่ตรงกลาง (เฉพาะถ้ามีความสูง) */
  height: 100vh;              /* ให้ div สูงเต็มจอเพื่อดูผลเต็ม ๆ */


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-page .next-button{
    color:var(--dark-matcha);
    background-color:var(--white-creme);
    padding:5px 10px;
    border:5px solid var(--dark-matcha);
    box-shadow: none;

}

.first-page .next-button:hover{
    scale:1.2;
}



