:root{
    --matcha: #92a378;
    --creme: #d2cdb9;
    --white-creme: #f5f3ec;
}

body{
    background-color: var(--matcha);
}
.center-text {

  display: flex;
  flex-direction: column;     /* เรียงจากบนลงล่าง */
  align-items: center;        /* จัดแนวนอนให้ลูกอยู่ตรงกลาง */
  justify-content: center;    /* จัดแนวตั้งให้ลูกอยู่ตรงกลาง (เฉพาะถ้ามีความสูง) */
  height: 100vh;              /* ให้ div สูงเต็มจอเพื่อดูผลเต็ม ๆ */


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-page .next-button{
    color:var(--matcha);
    background-color:var(--creme);
    padding:5px 10px;
    border-radius: 20%;
    box-shadow: none;
    border: none;

}
